$yellow-600: var(--chakra-colors-yellow-600);
$gray-900: var(--chakra-colors-gray-900);

.carousel {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  :global(.swiper-button-prev) {
    color: $yellow-600;
  }

  :global(.swiper-button-next) {
    color: $yellow-600;
  }

  :global(.swiper-pagination-bullet) {
    width: 16px;
    height: 16px;
    background-color: $gray-900;
    transform: scale(1);
    opacity: 1;
  }

  :global(.swiper-pagination-bullet-active) {
    background-color: $yellow-600;
  }
}
